# --- KAFKA (Confluent Cloud) ---
# Get these from your Confluent Cloud Console -> API Keys
KAFKA_BOOTSTRAP_SERVERS=your_confluent_bootstrap_url
KAFKA_API_KEY=your_confluent_api_key
KAFKA_API_SECRET=your_confluent_api_secret

# --- POSTGRESQL (Local) ---
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=upi_analytics
